body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #05b0ff;
    hover: #f70e0e;
}

h1 {
    text-align: center;
}

table {
    text-align: center;
    
}

p {
    text-indent: 20px;
}

h3 {
    background-color: #05b0ff;
    color: white;
    line-height: 30px;
    padding-left: 10px;
}
ul{
    line-height: 30px;
}
ol{
    line-height: 30px;
}

.dt {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 0;
    background: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}