/* 有改动啊啊啊 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #05b0ff;
    animation: bounceIn 3s;
}

a:hover {
    color: white;
}

h1 {
    text-align: center;
    transition: all 2s;
    animation: rubberBand 4s;
}

h1:hover {
    color: red;
    transform: rotate(360deg);
}

table {
    color: white;
    text-align: center;
}

p {
    text-indent: 20px;
}

h3 {
    background-color: #05b0ff;
    color: white;
    line-height: 30px;
    padding-left: 10px;
}

h4 {
    position: fixed;
}

ul {
    line-height: 30px;
}

ol {
    line-height: 30px;
}

.dt {
    text-align: center;
    animation: bounceInDown 5s;
    transition: all 3s;
}

.dt:hover {
    transform: rotate(360deg);
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 0;
    background: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.info {
    animation: lightSpeedIn 3s;
}

.social {
    animation: bounceInLeft 3s;
}

.campus {
    animation: flip 3s;
}

.skill {
    animation: lightSpeedIn 3s;
}

@media(max-width:810px) {
    .container {
        width: 100%;
    }
    /* 自动换行*/
    .social {
        word-wrap: break-word;
        word-break: normal;
    }
    .hh4 {
        display: none;
    }
    table,
    thead,
    tbody,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*Label the data*/
    td:nth-of-type(1):before {
        content: "时间";
        font: bold;
    }
    td:nth-of-type(2):before {
        content: "学校";
        font: bold;
    }
    td:nth-of-type(3):before {
        content: "专业";
        font: bold;
    }
}